In [ ]:
import pandas as pd
import numpy as np

# **Brakujące wartości**

**Brakujące wartości** to rekordy, które są nieobecne w zestawie danych.

**Przyczyny występowania**:
* Błąd człowieka podczas wprowadzania danych​

* Ochrona prywatności (dane wrażliwe)
* Brak odpowiedzi w ankietach

Problemy techniczne przy zbieraniu danych

Jest to jeden z **najczęściej występujących problemów** w analizie danych i kluczowy etap wstępnego przetwarzania (data preprocessing).

In [ ]:
# Definicja DataFrame
df_student = pd.DataFrame({
    'imie': ['Anna', 'Piotr', 'Maria', 'Jan', 'Katarzyna', 'Tomasz', 'Magdalena', 'Paweł', 'Ewa', 'Michał'],
    'wiek': [20, 22, 21, np.nan, 23, 20, 22, np.nan, 21, 23],
    'ocena_matematyka': [4.5, np.nan, 5.0, 4.0, 3.5, 4.5, 5.0, 3.5, np.nan, 4.0],
    'ocena_fizyka': [5.0, 4.5, np.nan, 4.0, 4.5, np.nan, 5.0, 4.0, 4.5, np.nan],
    'ocena_informatyka': [4.0, 3.5, 4.5, np.nan, 5.0, 3.5, 4.5, 4.0, np.nan, 4.5],
    'miasto': ['Warszawa', 'Kraków', 'Wrocław', 'Poznań', 'Gdańsk', np.nan, 'Warszawa', 'Kraków', 'Wrocław', 'Poznań']
})

In [ ]:
# 1. Sprawdzenie czy są brakujące wartości
print("1. Sprawdzenie brakujących wartości (True = brak):")
print(df_student.isnull())
# lub: df.isna()
print("\n" + "="*60 + "\n")

1. Sprawdzenie brakujących wartości (True = brak):
    imie   wiek  ocena_matematyka  ocena_fizyka  ocena_informatyka  miasto
0  False  False             False         False              False   False
1  False  False              True         False              False   False
2  False  False             False          True              False   False
3  False   True             False         False               True   False
4  False  False             False         False              False   False
5  False  False             False          True              False    True
6  False  False             False         False              False   False
7  False   True             False         False              False   False
8  False  False              True         False               True   False
9  False  False             False          True              False   False

============================================================

In [ ]:
# 2. Liczba brakujących wartości w każdej kolumnie
print("2. Liczba brakujących wartości w każdej kolumnie:")
print(df_student.isna().sum())
print("\n" + "="*60 + "\n")

2. Liczba brakujących wartości w każdej kolumnie:
imie                 0
wiek                 2
ocena_matematyka     2
ocena_fizyka         3
ocena_informatyka    2
miasto               1
dtype: int64

============================================================

In [ ]:
# 3. Procent brakujących wartości
print("3. Procent brakujących wartości w każdej kolumnie:")
print((df_student.isnull().sum() / len(df)) * 100)
print("\n" + "="*60 + "\n")

3. Procent brakujących wartości w każdej kolumnie:
imie                  0.0
wiek                 20.0
ocena_matematyka     20.0
ocena_fizyka         30.0
ocena_informatyka    20.0
miasto               10.0
dtype: float64

============================================================

In [ ]:
# 4. Całkowita liczba brakujących wartości
print("4. Całkowita liczba brakujących wartości w całym DataFrame:")
print(df_student.isnull().sum().sum())

4. Całkowita liczba brakujących wartości w całym DataFrame:
10

## **Rozwiązanie kwestii brakujących danych**

* **Usuwanie rekordów** zawierających brakujące wartości.
* **Ręczne uzupełnianie** brakujących wartości.
* Uzupełnianie **brakujących wartości wskaźnikami** tendencji centralnej, np.: średnią, medianą czy dominantą.
  * **Średniej** używamy w przypadku cech numerycznych,
  * **mediany** w cechach porządkowych,
  * **dominantę** (czyli najczęściej powtarzającą się wartość) umieszczamy w cechach kategorialnych.

Uzupełnianie **najbardziej prawdopodobną wartością** przy użyciu modeli uczenia maszynowego, takich jak regresja, drzewa decyzyjne czy algorytm KNN.

## **Czym jest NaN i dlaczego jest wyjątkowy?**

**NaN** (Not a Number) – specjalna wartość reprezentująca brakujące dane.

Dane mogą zawierać różne oznaczenia braków:
* Tekstowe: "NA", "N/A", "brak", "?", "-"

* Numeryczne: 0, -999, -1​

* Inne: puste stringi ""

In [ ]:
np.nan == np.nan

False

In [ ]:
np.nan is np.nan

True

 Dlatego używamy specjalnych funkcji:

In [ ]:
pd.isna(np.nan)

True

In [ ]:
pd.isnull(np.nan)

True

In [ ]:
df = pd.DataFrame({
    'A': [1, np.nan, 3],# ✓ NaN - brakująca wartość ​
    'B': [4, None, 6],  # ✓ None - też brakująca ​
    'C': [7, 0, 9],     # ✗ 0 - NIE jest brakująca! ​
    'D': ['x', '', 'z'] # ✗ '' - NIE jest brakująca! ​
})

In [ ]:
df.isnull().sum()

A    1
B    1
C    0
D    0
dtype: int64

## **Usuwanie brakujących wartości**

Usuń wiersze z DOWOLNĄ brakującą wartością (domyślnie) ​

```
df.dropna()
df.dropna(how='any')
```

Usuń wiersze tylko gdy WSZYSTKIE wartości są brakujące df.dropna(how='all')
```
df.dropna(how="all")
```

Usuń kolumny z brakującymi wartościami
```
df.dropna(axis=1)
```

## **Uzupełnienie średnią lub modą​**

W pandas *dataFrame* możemy uzupełnić brakujące wartości za pomocą funkcji `fillna()`.
* Przyjmuje ona jedną wartość, która będzie wstawiana w pustych pozycjach lub zamiast wartości NaN.

Uzupełnia wszystkie brakujące wartości w kolumnie age średnią obliczoną z tejże kolumny

```data['age'] = data.age.fillna(data.age.mean())​```

Uzupełnia wszystkie brakujące wartości w kolumnie income medianą obliczoną z tejże kolumny

```data['income']=data.income.fillna(data.income.median())```

Zastępuje wszystkie brakujące wartości w kolumnie gender (kolumna kategorii) dominantą wyliczoną z tejże kolumny​

```data['gender']=data['gender'].fillna(data['gender'].mode()[0])​```

In [ ]:
df_student

,imie,wiek,ocena_matematyka,ocena_fizyka,ocena_informatyka,miasto
0,Anna,20.0,4.5,5.0,4.0,Warszawa
1,Piotr,22.0,NaN,4.5,3.5,Kraków
2,Maria,21.0,5.0,NaN,4.5,Wrocław
3,Jan,NaN,4.0,4.0,NaN,Poznań
4,Katarzyna,23.0,3.5,4.5,5.0,Gdańsk
5,Tomasz,20.0,4.5,NaN,3.5,NaN
6,Magdalena,22.0,5.0,5.0,4.5,Warszawa
7,Paweł,NaN,3.5,4.0,4.0,Kraków
8,Ewa,21.0,NaN,4.5,NaN,Wrocław
9,Michał,23.0,4.0,NaN,4.5,Poznań

In [ ]:
df_student["wiek"] = df_student.wiek.fillna(df_student.wiek.mean())
df_student

,imie,wiek,ocena_matematyka,ocena_fizyka,ocena_informatyka,miasto
0,Anna,20.0,4.5,5.0,4.0,Warszawa
1,Piotr,22.0,NaN,4.5,3.5,Kraków
2,Maria,21.0,5.0,NaN,4.5,Wrocław
3,Jan,21.5,4.0,4.0,NaN,Poznań
4,Katarzyna,23.0,3.5,4.5,5.0,Gdańsk
5,Tomasz,20.0,4.5,NaN,3.5,NaN
6,Magdalena,22.0,5.0,5.0,4.5,Warszawa
7,Paweł,21.5,3.5,4.0,4.0,Kraków
8,Ewa,21.0,NaN,4.5,NaN,Wrocław
9,Michał,23.0,4.0,NaN,4.5,Poznań

In [ ]:
df_student["ocena_matematyka"] = df_student["ocena_matematyka"] .fillna(df_student["ocena_matematyka"] .mean())
df_student

,imie,wiek,ocena_matematyka,ocena_fizyka,ocena_informatyka,miasto
0,Anna,20.0,4.50,5.0,4.0,Warszawa
1,Piotr,22.0,4.25,4.5,3.5,Kraków
2,Maria,21.0,5.00,NaN,4.5,Wrocław
3,Jan,21.5,4.00,4.0,NaN,Poznań
4,Katarzyna,23.0,3.50,4.5,5.0,Gdańsk
5,Tomasz,20.0,4.50,NaN,3.5,NaN
6,Magdalena,22.0,5.00,5.0,4.5,Warszawa
7,Paweł,21.5,3.50,4.0,4.0,Kraków
8,Ewa,21.0,4.25,4.5,NaN,Wrocław
9,Michał,23.0,4.00,NaN,4.5,Poznań

In [ ]:
df_student["miasto"] = df_student["miasto"].fillna(df_student["miasto"] .mode()[0])
df_student

,imie,wiek,ocena_matematyka,ocena_fizyka,ocena_informatyka,miasto
0,Anna,20.0,4.50,5.0,4.0,Warszawa
1,Piotr,22.0,4.25,4.5,3.5,Kraków
2,Maria,21.0,5.00,NaN,4.5,Wrocław
3,Jan,21.5,4.00,4.0,NaN,Poznań
4,Katarzyna,23.0,3.50,4.5,5.0,Gdańsk
5,Tomasz,20.0,4.50,NaN,3.5,Kraków
6,Magdalena,22.0,5.00,5.0,4.5,Warszawa
7,Paweł,21.5,3.50,4.0,4.0,Kraków
8,Ewa,21.0,4.25,4.5,NaN,Wrocław
9,Michał,23.0,4.00,NaN,4.5,Poznań

## **Obsługa brakujących danych jako stringi**

**Problem**
* Dane często zawierają braki zapisane jako tekst: **"NA", "N/A", "brak", "?", "-", "brak danych"**

* Pandas **nie rozpoznaje** ich automatycznie jako brakujące wartości!

### **Rozwiązanie 1: Wczytywanie z pliku CSV**

```
import pandas as pd

# Definiujemy listę wartości oznaczających brak
braki = ['NA', 'N/A', 'brak', 'brak danych', '?', '-', '']

# Wczytujemy plik z parametrem na_values
df = pd.read_csv('dane.csv', na_values=braki)

```

### **Rozwiązanie 2: Zamiana po wczytaniu**

```
# Zamieniamy wybrane stringi na NaN
df.replace(['NA', 'N/A', 'brak', 'brak danych', '?', '-'], np.nan, inplace=True)

# LUB dla konkretnej kolumny
df['kolumna'] = df['kolumna'].replace('brak', np.nan)
```

# **Zadanie**:

**Dane**: Plik *nieruchomosci.csv* - 45 ofert sprzedaży mieszkań

**Polecenie**

* Wczytaj dane i przeanalizuj problem brakujących wartości

* Zdecyduj, jak poradzić sobie z brakami w poszczególnych kolumnach

* Uzasadnij swoje wybory i zaimplementuj rozwiązanie

**Do przemyślenia**

* Jakie typy zmiennych masz w danych?
* Czy wszystkie braki powinny być obsłużone tak samo?
* Jakie konsekwencje niesie każda metoda?
* Jak to wpływa na eksploracyjną analizę danych?

In [ ]:
df = pd.read_csv("nieruchomosci.csv", sep=",")
df['pietro'] = df['pietro'].replace(['brak','-999'], np.nan)
df['pietro'] = df['pietro'].fillna(df['pietro'].mode()[0])
df['powierzchnia'] = df['powierzchnia'].replace(['0','NaN','brak'],np.nan)
df['powierzchnia'] = df['powierzchnia'].fillna(df['cena_total']/df['cena_m2'])
df['rok_budowy'] = df['rok_budowy'].replace(['NaN','brak'],np.nan)
df['rok_budowy'] = df.rok_budowy.fillna(df.rok_budowy.mode()[0])
print(df)

    id    miasto      dzielnica powierzchnia  liczba_pokoi rok_budowy pietro  \
0    1  Warszawa        Mokotów           65             3       2015      4
1    2    Kraków      Krowodrza           48             2       2010      2
2    3   Wrocław         Krzyki           72             3       2010      2
3    4    Poznań       Grunwald           55             2       2018      3
4    5    Gdańsk       Wrzeszcz           80             4       1998      1
5    6  Warszawa    Śródmieście         80.0             2       2020      7
6    7    Kraków       Podgórze           60             3       2005      0
7    8   Wrocław   Stare Miasto           45             1       2019      5
8    9    Poznań         Jeżyce           70             3       2010      2
9   10    Gdańsk          Oliwa           90             4       2001      1
10  11  Warszawa       Żoliborz           58             2       2016      2
11  12    Kraków      Kazimierz           52             2       1995      3
12  13   Wrocław      Psie Pole           68             3       2012      4
13  14    Poznań         Rataje         60.0             2       2017      6
14  15    Gdańsk        Siedlce           75             3       2010      2
15  16  Warszawa          Praga           62             3       2014      3
16  17    Kraków      Nowa Huta           50             2       2008      1
17  18   Wrocław      Fabryczna         70.0             4       2011      0
18  19    Poznań          Wilda           66             3       1999      4
19  20    Gdańsk      Przymorze           85             4       2003      2
20  21  Warszawa         Ochota           54             2       2010      5
21  22    Kraków      Bronowice         60.0             3       2013      2
22  23   Wrocław         Krzyki           70             3       2009      3
23  24    Poznań        Centrum           48             1       2021      8
24  25    Gdańsk    Śródmieście           95             5       1997      1
25  26  Warszawa        Ursynów           60             2       2015      4
26  27    Kraków        Dębniki           56             2       2010      1
27  28   Wrocław   Stare Miasto           42             1       2020      6
28  29    Poznań       Grunwald         60.0             3       2007      2
29  30    Gdańsk          Zaspa           78             3       2002      3
30  31  Warszawa        Wilanów           88             4       2018      2
31  32    Kraków     Łagiewniki         60.0             2       2016      4
32  33   Wrocław       Biskupin           64             3       2011      1
33  34    Poznań         Sołacz           72             3       1996      0
34  35    Gdańsk          Chełm         80.0             4       2014      2
35  36  Warszawa        Bielany           58             2       2010      5
36  37    Kraków         Ruczaj           51             2       2019      3
37  38   Wrocław            Gaj           69             3       2006      4
38  39    Poznań         Główna           46             1       2022      7
39  40    Gdańsk         Morena           82             4       2000      1
40  41  Warszawa       Targówek           62             3       2013      2
41  42    Kraków  Mistrzejowice         60.0             2       2017      6
42  43   Wrocław          Ołbin           55             2       2010      3
43  44    Poznań       Piątkowo         65.0             3       2010      1
44  45    Gdańsk      Suchanino           76             3       2004      2

    liczba_pieter parking balkon          stan  cena_m2  cena_total
0              10     Tak    Tak         Dobry    12500      812500
1               5     Nie    Tak            很好    10200      489600
2               4     Tak    Nie         Dobry     9800      705600
3               8     Tak    Tak  Bardzo dobry    11000      605000
4               3       ?    Tak    Do remontu     8500      680000
5              12     Tak    Tak  Bardzo dobry    15000     1200000
6               6     Tak    Nie         Dobry     9500      570000
7               9     Nie    Tak  Bardzo dobry    11500      517500
8               4     Tak    Tak         Dobry    10500      735000
9               2     Tak    Tak         Dobry     9000      810000
10              7     Tak    Tak         Dobry    13000      754000
11              4     Nie      ?    Do remontu     9000      468000
12             10     Tak    Tak         Dobry     8800      598400
13             11     Tak    Tak  Bardzo dobry    10800      648000
14              5       ?    Tak         Dobry     8700      652500
15              8     Tak    Nie         Dobry    11500      713000
16              4     Tak    Tak         Dobry     8500      425000
17              3     Tak    Tak         Dobry     9200      644000
18              5     Nie    Tak    Do remontu     9000      594000
19              6     Tak    Tak         Dobry     8900      756500
20              9     Tak    Tak  Bardzo dobry    12800      691200
21              7     Tak    Nie         Dobry     9800      588000
22              8       ?    Tak         Dobry     9300      651000
23             15     Tak    Tak  Bardzo dobry       -1      600000
24              3     Tak    Tak    Do remontu     8200      779000
25             11     Tak    Tak         Dobry    11800      708000
26              4     Tak      ?         Dobry     9600      537600
27             10     Nie    Tak  Bardzo dobry    12000      504000
28              5     Tak    Tak         Dobry    10200      612000
29              9     Tak    Nie         Dobry     8400      655200
30              6     Tak    Tak  Bardzo dobry    14000     1232000
31              8       ?    Tak         Dobry     9400      564000
32              4     Tak    Tak         Dobry     9700      620800
33              2     Tak    Tak    Do remontu     9800      705600
34              7     Tak    Tak         Dobry     8800      704000
35             10     Tak    Nie         Dobry    11200      649600
36              9     Tak    Tak  Bardzo dobry    10500      535500
37              5     Nie      ?         Dobry     8900      614100
38             12     Tak    Tak  Bardzo dobry    12500      575000
39              4     Tak    Tak         Dobry     -999      729400
40              6       ?    Tak         Dobry    10500      651000
41             11     Tak    Tak  Bardzo dobry     9200      552000
42              7     Tak    Nie         Dobry    10000      550000
43              5     Tak    Tak         Dobry     9500      617500
44              8     Tak    Tak         Dobry     8600      653600